{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-3"><div class="card p-3"><h6>Total donors</h6><h3>{{ total_donors }}</h3></div></div>
  <div class="col-md-3"><div class="card p-3"><h6>Total requests</h6><h3>{{ total_requests }}</h3></div></div>
  <div class="col-md-3"><div class="card p-3"><h6>Open requests</h6><h3>{{ open_requests }}</h3></div></div>
  <div class="col-md-3"><div class="card p-3"><h6>Active donors</h6><h3>{{ active_donors }}</h3></div></div>
</div>
<div class="mt-3 card p-3">
  <h5>Recent Requests</h5>
  <ul>
    {% for r in recent_requests %}
      <li>{{ r.patient_name }} - {{ r.required_blood_group }} - {{ r.created_at }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
